@import '../../colors';
@import '../../fonts';

.posts_index_article {
  position: relative;
  padding: 4em 0;
  z-index: 10;
}

.posts_index_article__inner,
.posts_index_pagination__inner {
  max-width: 32em;
  margin: 0 auto;
  padding: 0 2em;
}

.posts_index_article__title {
  position: relative;
  margin: 0 0 .25em;
  color: $color-black;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  text-indent: -1px;
  z-index: 10;
}

.posts_index_article__title__link {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.posts_index_article__meta {
  display: block;
  position: relative;
  margin-bottom: 1.334em;
  font-family: $header-font-familiy;
  font-size: .75em;
  font-weight: 400;
  line-height: 1.334em;
  opacity: .5;
  z-index: 10;
}

.posts_index_article__meta__link {
  border-bottom: 1px solid transparent;
  color: inherit;
  text-decoration: none;
}

.posts_index_article__meta__link:hover,
.posts_index_article__meta__link:focus {
  border-color: rgba(0, 0, 0, .5);
}

.posts_index_article__clear,
.posts_index_pagination__clear {
  clear: both;
}

.posts_index_article__excerpt {
  margin: .5em 0 0;
}

.posts_index_article__separator,
.posts_index_pagination__separator, {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 32em;
  height: 1px;
  margin-left: -16em;
  background: $color-gray-90;
}

@media only screen and (max-width: 480px) {
  .posts_index_article__inner,
  .posts_index_pagination__inner {
    padding: 0 16px;
  }
}

.posts_index_pagination {
  position: relative;
  height: 2em;
  margin: 0;
  padding: 2em 0;
  font-family: $header-font-familiy;
}

.posts_index_pagination__info {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.667em;
  font-size: .75em;
  line-height: 2.667em;
  text-align: center;
  z-index: 50;
}

.posts_index_pagination__link {
  font-size: .75em;
  z-index: 100;
  /*position: relative;
  display: block;
  height: 1.334em;
  margin: -1px 0;
  padding: .667em 1em;
  z-index: 100;
  border: 1px solid $color-blue-80;
  font-size: .75em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  color: $color-blue-60;
  transition: all ease .3s;
  border-radius: 2em;*/
}

.posts_index_pagination__prev {
  float: right;
  padding-left: 1.334em;
}
.posts_index_pagination__next {
  float: left;
  padding-right: 1.334em;
}

.posts_index_pagination__label {
  display: inline-block;
  position: relative;
  top: -.167em;
  height: 1.334em;
  line-height: 1.334em;
}

.pagination a:hover,
.pagination a:focus {
	color: $primary-color;
	border-color: $primary-color;
}
.pagination a i {
	position: relative;
	width: auto;
	margin: auto;
	color: inherit;
	font-size: 1.334em;
	line-height: .75em;
}

.extra-pagination {
	display: none;
}
.extra-pagination .pagination:after {
	top: auto;
	bottom: 0;
}
.paged .extra-pagination {
	display: block;
}

@media only screen and (max-width: 320px) {
	.pagination .pagination-label {
		display: none;
	}
}
