@import '../../../colors';

.post_navigation {
  position: relative;
  border-bottom: 1px solid $color-gray-90;
}

.post_navigation__link {
  display: block;
  width: 50%;
  float: left;
}

.post_navigation__teaser {
  min-height: 6em;
  padding: 1.5em 0;
}

.post_navigation__icon {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  color: $color-gray-90;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  transition: all ease-out .3s;
}

.post_navigation__next {
  .post_navigation__teaser {
    padding-right: 1em;
  }

  .post_navigation__icon {
    left: 0;
    margin-left: -1.75em;
  }
}

.post_navigation__prev {
  float: right;

  .post_navigation__teaser {
    padding-left: 1em;
  }

  .post_navigation__icon {
    right: 0;
    margin-right: -1.75em;
  }
}

.post_navigation__link:hover .post_navigation__icon,
.post_navigation__link:focus .post_navigation__icon {
  color: $primary-color;
}

.post_navigation__title {
  margin: 0 0 .5em;
  padding: 0;
  color: inherit;
  font-size: 1em;
  line-height: 1em;
}

.post_navigation__excerpt {
  margin: 0;
  font-size: .75em;
  line-height: 1.334em;
}

.post_navigation__clear {
  clear: both;
}

.post_navigation__separator {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: $color-gray-90;
  z-index: 2;
}

@media only screen and (max-width: 640px) {
  .post_navigation__icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .post_navigation__separator {
    display: none;
  }

  .post_navigation__link {
    display: block;
    width: 100%;
  }

  .post_navigation__teaser {
    position: relative;
    min-height: 4em;
    padding: 2em 0;
  }

  .post_navigation__next {
    border-bottom: 1px solid $color-gray-90;

    .post_navigation__teaser {
      padding-right: 0;
      padding-left: 1.5em;
    }

    .post_navigation__icon {
      margin-left: -.5em;
    }
  }

  .post_navigation__prev {
    .post_navigation__teaser {
      padding-right: 1.5em;
      padding-left: 0;
    }

    .post_navigation__icon {
      margin-right: -.5em;
    }
  }
}
