@import '../../../colors';
@import '../../../fonts';

.post_share {
  max-width: 25%;
  float: right;
}

.post_share__button {
  display: block;
  width: 2em;
  height: 2em;
  margin: .15em 0 .334em .15em;
  padding: 0;
  border-radius: 2px;
  float: left;
  color: $color-white;
  font-size: .75em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  transition: all ease .3s;
  cursor: pointer;
}

.post_share__button:focus {
  outline: none;
}

.post_share__facebook {
  width: 100%;
  height: 100%;
}

.post_share__facebook {
  color: #3b5998;
}
