@import "../colors";

//1px 1px 0 rgba(20,20,20,0.5)

%cover_header {
	position: relative;
}

%cover_header--has_image {
	background: $color-black;
	overflow: hidden;
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

%cover_header__inner {
	max-width: 32em;
	margin: 0 auto;
	padding: 0 2em;
}

%cover_header__logo {
	position: fixed;
	max-width: 2em;
	left: 0;
	top: 0;
	margin: 1em;
	z-index: 200;
}

%cover_header__title {
	color: $color-black;
	position: relative;
	z-index: 10;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 2em;
	line-height: 1em;

}

%cover_header__body {
	position: relative;
	display: block;
	z-index: 10;
	margin: 0.25em 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}

%cover_header__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	background: no-repeat scroll center center / cover $color-black;
	animation: 0.5s ease-in forwards fadein;
}

%cover_header__image_shadow {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 8;
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
}

%cover_header__after {
	position: absolute;
	width: 32em;
	height: 1px;
	left: 50%;
	bottom: 0;
	margin-left: -16em;
	background: $color-gray-90;
}
