@import "../colors";

//1px 1px 0 rgba(20,20,20,0.5)

.coverHeader {
	position: relative;
}

.coverHeader--hasImage {
	background: $color-black;
	overflow: hidden;
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
	.coverHeader__name, .coverHeader__description {
		color: $color-white;
	}
}

.coverHeader__inner {
	max-width: 32em;
	margin: 0 auto;
	padding: 0 2em;
}

.coverHeader__logo {
	position: fixed;
	max-width: 2em;
	left: 0;
	top: 0;
	margin: 1em;
	z-index: 200;
	img {
		display: block;
		margin: 0 auto;
	}
}

.coverHeader__name {
	color: $color-black;
	position: relative;
	z-index: 10;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 2em;
	line-height: 1em;

}
.coverHeader__name a {
	text-decoration: none;
	font-weight: inherit;
	color: inherit;
}

.coverHeader__description {
	position: relative;
	display: block;
	z-index: 10;
	margin: 0.25em 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}

.coverHeader__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	background: no-repeat scroll center center / cover $color-black;
	animation: 0.5s ease-in forwards fadein;
}

.coverHeader__imageShadow {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 8;
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
}

.coverHeader__after {
	position: absolute;
	width: 32em;
	height: 1px;
	left: 50%;
	bottom: 0;
	margin-left: -16em;
	background: $color-gray-90;
}

.coverHeader--home {
	text-align: center;
	padding: 6em 0;
	&.coverHeader--hasImage {
		padding: 9em 0 10em;
	}
	.coverHeader__name {
		font-size: 3em;
		text-decoration: none;
		display: block;
	}
	.coverHeader__description {
		font-size: 1.5em;
	}
	.coverHeader__imageShadow {
		height: 6em;
	}
}

.coverHeader--post {
	padding-top: 6em;
	&.coverHeader--hasImage {
		padding: 16em 0 2em;
	}
	.coverHeader__name {
		margin-right: 0.25em;
		text-indent: -1px;
	}
	.coverHeader__imageShadow {
		height: 12em;
	}
}
