$header-font-familiy: 'Oswald', sans-serif; // define primary color
$body-font-familiy: 'Cardo', serif; // define primary color
$mono-font-familiy: 'Share Tech Mono', monospace, sans-serif; // define primary color
