@import '../../../colors';

.post_info {
  margin-top: 6em;
  overflow: hidden;
}
.post_share {
  max-width: 25%;
  float: right;
}
.post_share a {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0.334em 0 0.334em 0.667em;
  padding: 0;
  float: left;
  font-size: 0.75em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  color: $color-white;
  border-radius: 2px;
  transition: all ease 0.3s;
}
.post_share a:hover,
.post_share a:focus {
  background-color: $color-blue-15;
}
.post_share a i {
  color: inherit;
}
.post_share a i:before {
  width: auto;
  height: auto;
}
.post_share .twitter {
  background-color: $color-social-twitter;
}
.post_share .facebook {
  background-color: $color-social-facebook;
}
.post_share .googleplus {
  background-color: $color-social-googleplus;
}
